{% load static %}
<!---->
<style>
  .header-tooltip {
    border: none !important;
    outline: none !important;
  }
</style>
{% load flatpages %}

<header class="main-header">
  <!-- top bar -->
  {% include "(shared)/navbar/header.html" %}
  <!-- top bar end -->
  <div class="header-inner fl-wrap">
    <div class="container">
      <!-- logo holder  -->
      <a href="{% url 'home' %}" class="logo-holder"
        ><img src="{% static 'images/logo.png' %}" alt=""
      /></a>
      <!-- logo holder end -->
      <div class="search_btn htact show_search-btn">
        <i class="far fa-search"></i>
        <span class="header-tooltip">Search</span>
      </div>
      <!-- logo holder end -->
      {% if request.user.is_authenticated and request.user.is_editor %}
      <div class="search_btn htact btn-uc-md">
        <i class="fa fa-cog"></i>
        <a href="{% url 'editors:profile' %}" class="header-tooltip">Profile</a>
      </div>
      {% endif %}
      <div
        class="srf_btn htact {% if not request.user.is_authenticated %} show-reg-form {% endif %}"
      >
        <i class="fal fa-user"></i>
        {% if request.user.is_authenticated %}
        <form action="{% url 'accounts:logout' %}" method="post">
          {% csrf_token %}
          <button class="header-tooltip">Sign Out</button>
          <hr />
        </form>
        {% else %}
        <!---->
        <span class="header-tooltip">Sign In</span>
        {% endif %}
        <!---->
      </div>

      {% if request.user.is_authenticated %}
      <!---->
      {% if request.user.user_profile.get_cart_items %}
      <!---->

      <div class="show-cart sc_btn htact">
        <i class="fal fa-shopping-bag"></i
        ><span class="show-cart_count"
          >{{request.user.user_profile.get_cart_items.count}}</span
        ><span class="header-tooltip">Your Cart</span>
      </div>

      <!-- header-cart_wrap  -->
      {% include "shop/cart.html" %}
      <!-- header-cart_wrap end  -->
      {% endif %}
      <!---->
      {% endif %}

      <!-- header-search-wrap -->
      <div class="header-search-wrap novis_sarch">
        <div class="widget-inner">
          {% include "(shared)/navbar/search_form.html" %}
        </div>
      </div>
      <!-- header-search-wrap end -->

      <!-- nav-button-wrap-->
      <div class="nav-button-wrap">
        <div class="nav-button"><span></span><span></span><span></span></div>
      </div>
      <!-- nav-button-wrap end-->
      <!--  navigation -->
      <div class="nav-holder main-menu">
        <nav>
          <ul>
            <li>
              <a href="{% url 'home' %}" class="act-link">Home</a>
            </li>
            <li>
              <a href="{% url 'posts:posts' %}">News</a>
            </li>
            {% if header_categories %}
            <!---->
            {% for category in header_categories %}
            <li>
              <a href="{{category.get_absolute_url}}"
                >{{category.name|title}}</a
              >
            </li>
            {% endfor %}
            <!---->
            {% endif %}
            <li>
              <a href="{% url 'shops:shop_view' %}">Shop</a>
            </li>
            {% get_flatpages as flatpages %}
            <li>
              <a href="#">More<i class="fas fa-caret-down"></i></a>
              <!--second level -->
              <ul>
                {% for page in flatpages %}
                <li><a href="{{ page.url }}">{{page.title}}</a></li>
                {% endfor %}
              </ul>
              <!--second level end-->
            </li>
          </ul>
        </nav>
      </div>
      <!-- navigation  end -->
    </div>
  </div>
</header>
<!-- header end  -->
