{% load static %}

<div class="col-md-8">
  <div class="main-container fl-wrap fix-container-init">
    <div class="section-title">
      <h2>Lastest World News</h2>
      <h4>Don't miss daily news</h4>
      <div class="ajax-nav">
        <ul>
          <li><a href="ajax/category1.html" class="current_page">World</a></li>
          <li><a href="ajax/category2.html">Technology</a></li>
          <li><a href="ajax/category3.html">Business</a></li>
          <li><a href="ajax/category4.html">Sports</a></li>
        </ul>
      </div>
    </div>
    <div class="ajax-wrapper fl-wrap">
      <div class="ajax-loader">
        <img src="{% static 'images/loading.gif' %}" alt="" />
      </div>
      <div id="ajax-content" class="fl-wrap"></div>
    </div>
    <div class="content-banner-wrap cbw_mar">
      <img src="{% static 'images/all/banner.jpg' %}" class="respimg" alt="" />
    </div>
    <div class="clearfix"></div>
    <div class="section-title sect_dec">
      <h2>Top Stories</h2>
      <h4>Don't miss daily news</h4>
    </div>
    <div class="grid-post-wrap">
      <div class="more-post-wrap fl-wrap">
        <div class="list-post-wrap list-post-wrap_column fl-wrap">
          {% if top_posts %}
          <div class="row">
            {% for post in top_posts %}
            <div class="col-md-6">
              <!--list-post-->
              <div class="list-post fl-wrap">
                <a class="post-category-marker" href="">{{post.category}}</a>
                <div class="list-post-media">
                  <a href="{{post.get_absolute_url}}">
                    <div class="bg-wrap">
                      <div class="bg" data-bg="{{post.bg_image.url}}"></div>
                    </div>
                  </a>
                  <span class="post-media_title"
                    >&copy; Image Copyrights Title</span
                  >
                </div>
                <div class="list-post-content">
                  <h3>
                    <a href="{{post.get_absolute_url}}"
                      >{{post.title|truncatewords:"10"}}</a
                    >
                  </h3>
                  <span class="post-date"
                    ><i class="far fa-clock"></i>
                    {{post.timestamp|date:"jS F Y"}}
                  </span>
                </div>
              </div>
              <!--list-post end-->
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      <!--grid-post-item-->
      <div class="single-grid-slider-wrap fl-wrap">
        <div class="single-grid-slider">
          <div class="swiper-container">
            {% if top_swiper %}
            <div class="swiper-wrapper">
              {% for post in top_swiper %}
              <!-- swiper-slide-->
              <div class="swiper-slide">
                <div class="grid-post-item bold_gpi fl-wrap">
                  <div class="grid-post-media gpm_sing">
                    <div class="bg" data-bg="{{post.bg_image.url}}"></div>
                    <div class="author-link">
                      <a href=""
                        ><img src="{% static 'images/avatar/2.jpg' %}" alt="" />
                        <span>By {{post.profile.get_full_name}}</span></a
                      >
                    </div>
                    <div class="grid-post-media_title">
                      <a class="post-category-marker" href=""
                        >{{post.category|title}}</a
                      >
                      <h4>
                        <a href="{{post.get_absolute_url}}"
                          >{{post.title|truncatewords:"10"}}</a
                        >
                      </h4>
                      <span class="video-date"
                        ><i class="far fa-clock"></i>
                        {{post.timestamp|date:"jS F Y"}}
                      </span>
                      <ul class="post-opt">
                        <li>
                          <i class="far fa-comments-alt"></i> {{post.comments}}
                        </li>
                        <li><i class="fal fa-eye"></i> {{post.views}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- swiper-slide end-->
              {% endfor %}
            </div>
            {% endif %}
            <div class="sgs-pagination sgs_ver"></div>
          </div>
        </div>
      </div>
      <!--grid-post-item end-->
      <div class="more-post-wrap fl-wrap">
        <div class="list-post-wrap list-post-wrap_column fl-wrap">
          {% if lower_posts %}
          <div class="row">
            {% for post in lower_posts %}
            <div class="col-md-6">
              <!--list-post-->
              <div class="list-post fl-wrap">
                <a class="post-category-marker" href="">{{post.category}}</a>
                <div class="list-post-media">
                  <a href="{{post.get_absolute_url}}">
                    <div class="bg-wrap">
                      <div class="bg" data-bg="{{post.bg_image.url}}"></div>
                    </div>
                  </a>
                  <span class="post-media_title"
                    >&copy; Image Copyrights Title</span
                  >
                </div>
                <div class="list-post-content">
                  <h3>
                    <a href="{{post.get_absolute_url}}"
                      >{{post.title|truncatewords:"10"}}</a
                    >
                  </h3>
                  <span class="post-date"
                    ><i class="far fa-clock"></i>
                    {{post.timestamp|date:"jS F Y"}}
                  </span>
                </div>
              </div>
              <!--list-post end-->
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <a href="blog2.html" class="dark-btn fl-wrap"> Read all News </a>
  </div>
</div>

{% include "home/section/main.html" %}
