{% load static %} {% load humanize %}

<div class="col-md-4">
  <div class="left_fix-bar fl-wrap">
    <div class="profile-card-wrap fl-wrap">
      <div class="profile-card_media fl-wrap">
        <img
          src="{% if editor.profile_image %}{{editor.profile_image.url}}{% else %}{% static 'images/avatar/2.jpg' %}{% endif %}"
          alt=""
        />
        <div class="profile-card_media_content">
          <h4>{{editor.get_full_name|title}}</h4>
          <h5>{{editor.user.date_joined|timesince}} of Membership</h5>
        </div>
        <div class="abs_bg"></div>
        <div class="profile-card-stats">
          <ul>
            <li>
              <span>{{editor.get_profile_posts.count}}</span
              >Article{{editor.get_profile_posts.count|pluralize}}
            </li>
            <li>
              <span>{{editor.get_profile_post_views|intword}}</span>
              View{{editor.get_profile_post_views|pluralize}}
            </li>
          </ul>
        </div>
      </div>
      <div class="profile-card_content">
        <h4>About</h4>
        <p>{{editor.bio|linebreaks|truncatewords:"25"}}</p>
        <p>Filled with content hourly on the day of going live.</p>

        <div class="pc_contacts">
          <ul>
            <li>
              <span>Write:</span>
              <a href="#">yourmail@domain.com</a>
            </li>
            <li><span>Call:</span> <a href="#">+789564231</a></li>
            {% if request.user.is_authenticated and request.user.is_editor %}
            <hr />
            <li>
              <span>settings:</span>
              <a href="{% url 'editors:update' %}">Update Profile</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% if editor.get_social_links %}
      <div class="profile-card-footer fl-wrap">
        <div class="profile-card-footer_title">Follow:</div>
        <div class="profile-card-social">
          <ul>
            {% for social in editor.get_social_links %}
            <li>
              <a href="//{{social.link}}" target="_blank"
                ><i class="fab {{social.get_icon_display}}"></i
              ></a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
