{% load static %} {% load humanize %}
<div class="tab">
  <div id="tab-popular" class="tab-content first-tab">
    {% if popular %}
    <div class="post-widget-container fl-wrap">
      {% for post in popular %}
      <!-- post-widget-item -->
      <div class="post-widget-item fl-wrap">
        <div class="post-widget-item-media">
          <a href="{{post.get_absolute_url}}"
            ><img src="{{post.bg_image.url}}" alt="{{post.title}}"
          /></a>
        </div>
        <div class="post-widget-item-content">
          <h4>
            <a href="{{post.get_absolute_url}}"
              >{{post.title|truncatewords:"4"}}</a
            >
          </h4>
          <ul class="pwic_opt">
            <li>
              <span
                ><i class="far fa-clock"></i>
                <!---->
                {{post.timestamp|date:"jS M Y"}}</span
              >
            </li>
            <li>
              <span><i class="far fa-comments-alt"></i> {{post.comments}}</span>
            </li>
            <li>
              <span><i class="fal fa-eye"></i> {{post.views|intword}}</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- post-widget-item end -->
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
