{% load static %}

<!---->
<div class="video_carousel lightgallery">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for video in videos %}
      <!-- swiper-slide-->
      <div class="swiper-slide">
        <!-- video-item  -->
        <div class="video-item fl-wrap">
          <div class="video-item-img fl-wrap">
            <img
              src="{% if video.cover %}{{video.cover.url}}{% else %}{% static 'images/all/1.jpg' %}{% endif %}"
              class="respimg"
              alt=""
            />
            <a class="play-icon image-popup" href="{{video.url}}"
              ><i class="fas fa-play"></i
            ></a>
          </div>
          <div class="video-item-title">
            <h4>
              <a href="{{video.url}}" class="image-popup">{{video.title}}</a>
            </h4>
            <span class="video-date"
              ><i class="far fa-clock"></i>
              <!---->
              {{video.timestamp|date:"jS F Y"}}</span
            >
          </div>
          <a
            class="post-category-marker"
            href="{{video.category.get_absolute_url}}"
            >{{video.category.name}}</a
          >
        </div>
        <!--video-item end   -->
      </div>
      <!-- swiper-slide end-->
      {% endfor %}
    </div>
  </div>
</div>
