<div class="col-12">
  {% if shops %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">DataTable Showing All the Posts</h3>
    </div>

    <div class="card-body">
      <table id="example2" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Vendor</th>
            <th>name</th>
            <th>Verified</th>
          </tr>
        </thead>
        <tbody>
          {% for shop in shops %}
          <tr>
            <td>{{shop.vendor.get_full_name}}</td>
            <td>{{shop.name}}</td>
            <td>{{shop.is_verified}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Vendor</th>
            <th>name</th>
            <th>Verified</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  {% endif %}
</div>
