<div class="box-widget fl-wrap">
  <div class="box-widget-content">
    <div class="search-widget fl-wrap">
      <form action="" method="get">
        <input
          name="search_queryset"
          id="se12"
          type="text"
          class="search"
          placeholder="Search posts..."
          value=""
        />
        <button class="search-submit2" type="submit" id="submit_btn12">
          <i class="far fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>
