{% extends "base.html" %}
<!---->
{% load static %}
<!---->
<!---->

{% block content %}

<!--section   -->
<section class="hero-section error-section">
  <div class="bg-wrap hero-section_bg">
    <div
      class="bg"
      data-bg="{% if flatpage.error_flatpage.cover_image %}{{flatpage.error_flatpage.cover_image.url}}{% else %}{% static 'images/bg/6.jpg' %}{% endif %}"
    ></div>
  </div>
  <div class="container">
    <div class="error-wrap">
      <h2>{{flatpage.title}}</h2>
      <p>{{flatpage.content|truncatewords:"7"}}</p>
      <div class="clearfix"></div>
      <!--Pass the post seacr view-->
      {% include "(shared)/navbar/search_form.html" %}
      <div class="clearfix"></div>
      <p>Or</p>
      <a href="{% url 'home' %}" class="btn color-btn flat-btn">
        <span>Back to Home Page</span> <i class="fas fa-caret-right"></i
      ></a>
    </div>
  </div>
</section>
<!-- section end  -->

{% endblock content %}
