{% extends "base.html" %}
<!---->
{% load static %}
<!---->
<!---->

{% block content %}

<!--section   -->
<section class="hero-section">
  <div class="bg-wrap hero-section_bg">
    <div
      class="bg"
      data-bg="{% if flatpage.contact_flatepage.cover_image %}{{flatpage.contact_flatepage.cover_image.url}}{% else %}{% static 'images/bg/8.jpg' %}{% endif %}"
    ></div>
  </div>
  <div class="container">
    <div class="hero-section_title">
      <h2>Our {{flatpage.title}}</h2>
    </div>
    <div class="clearfix"></div>
    <div class="breadcrumbs-list fl-wrap">
      <a href="{% url 'home' %}">Home</a> <a href="{% url 'home' %}">Pages</a>
      <span>{{flatpage.title}}</span>
    </div>
    <div class="scroll-down-wrap scw_transparent">
      <div class="mousey">
        <div class="scroller"></div>
      </div>
      <span>Scroll Down To Discover</span>
    </div>
  </div>
</section>
<!-- section end  -->

<!--section   -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="pr-subtitle prs_big">Details</div>
        <!--card-item -->
        <ul class="contacts-list fl-wrap">
          <li>
            <span><i class="fal fa-map-marker"></i> Adress :</span>
            <a href="#">{{flatpage.contact_flatepage.address}}</a>
          </li>
          <li>
            <span><i class="fal fa-phone"></i> Phone :</span>
            <a href="#">{{flatpage.contact_flatepage.phone}}</a>
          </li>
          <li>
            <span><i class="fal fa-envelope"></i> Mail :</span>
            <a href="#">{{flatpage.contact_flatepage.mail}}</a>
          </li>
        </ul>
        <!--card-item end -->
        <div class="contact-social fl-wrap">
          <span class="cs-title">Find us on: </span>
          <ul>
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-vk"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a>
            </li>
          </ul>
        </div>
        <!-- box-widget -->
        {% include "shop/shop.html" %}
        <!-- box-widget  end -->
      </div>
      <div class="col-md-8">
        <div class="pad-con fl-wrap">
          <div class="pr-subtitle prs_big">Drop us a line</div>
          <p>{{flatpage.content|safe|linebreaks}}</p>
          <div id="contact-form" style="margin-top: 20px">
            <div id="message"></div>
            {% include "(shared)/contact_form.html" %}
          </div>
          <!-- contact form  end-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end  -->

{% endblock content %}
